*/*/*.json
output/*/*.txt
raw_data/*/*df
.DS_Store
output/*/*/*.txt
raw_data/*/*/*df
output/
!**/README.md
*/*.json
*/*/*/*/*/*.pyc
*/*/*/*/*.pyc
*/*/*/*.pyc
*/*/*.pyc
*/*.pyc
*.pyc
*/*/*/*.json
model_output/*
**/*.log